{% extends 'base.html' %}
{% block title %}About |
{% endblock title %}

{% block body %}
<div class="container-fluid px-0">
    <img src="./static/d.png/" class="img-responsive" align="right" class="d-block w-100" alt="...">
  <br>
  <div class="text-center my-5"><h1><i>About Us</i></h1></div>
{#</div>#}
<p class="font-sans-serif text-center">
<h4 class="text-center"><i>For those who like to bite off<br> more than they can chew</i></h4><br><br>
<p class="text-center mx-5" style="line-height:0.7">The origins of frozen desserts are obscure although several accounts exist about their history.</p>
 <p class=" text-center text-break mx-5" style="line-height:0.7">Some sources describe ice cream-like foods as originating in Persia as far back as 550 BCE  </p>
 <p class=" text-center text-break mx-5" style="line-height:0.7">the Roman Emperor Nero had ice collected from the Apennine Mountains to produce the first</p>
<p class=" text-center text-break mx-5" style="line-height:0.7">Other accounts say ice cream originated in the Mongol Empire and first spread to China during</p>
</p>
</div>
<br><br><br><br><br><br><br><br>
<h1 class="text-center my-5"><i>#Frequent Asked Questions</i></h1>
<div class="card-group mx-5">
  <div class="card">
    <img src="./static/1s.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Online Order</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      
    </div>
  </div>
  <div class="card">
    <img src="./static/2ss.jpg" class="card-img-top my-1" alt="...">
    <div class="card-body">
      <h5 class="card-title my-3">Customer Feedback</h5>
      <p class="card-text my-2">This card has supporting text below as a natural lead-in to additional content.</p>
      
    </div>
  </div>
  <div class="card ">
    <img src="./static/cc.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title my-4">Customer Support</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      
    </div>
  </div>
  <br>
  </div>
  <img src="./static/care.jpg/" class="img-responsive" align="left" class="d-block w-100" alt="..."><br><br><br><br><br>
  <br><br>
  <h1 class="container" align="right"><i>#Customer Support 24/7</i></h1>
  <br>
  <p class="text-end mx-5 my-2">Customer support is a range of customer services to assist customers in making cost
   effective and correct use <br>of a product. It includes assistance in planning, installation, training,
    troubleshooting, maintenance, upgrading, and disposal of a product.Depending on the industry, these
    services can range from call centers (phone support) to ticket<br><br>Based helpdesks and email support, 
    from self-serve knowledge bases to increasingly personal types of customer support using tools such as
    Intercom.Some companies interchangeably use terms such as customer service or even customer success, 
    but while some insist on subtle nuanced differences between those fields, the larger principles should remain
     the same – making sure your customers get the best value possible from your product.</p>
 </div><br><br>
  {#<img src="./static/delivery.jpg/" class="img-responsive" align="right" class="d-block w-100" margin-top="-5px" alt="..."><br><br>#}
  <img src="./static/del.jpg/" class="img-responsive" align="right" class="d-block my-2 w-100" alt="..."><br><br><br><br><br>
  <br><br>
  <h1 class="container my-1" align="left"><i>#Delivery Support 24/7</i></h1>
  <br>
  <p class="text-start mx-5 my-2">Customer support is a range of customer services to assist customers in making cost
   effective and correct use <br>of a product. It includes assistance in planning, installation, training,
    troubleshooting, maintenance, upgrading, and disposal of a product.Depending on the industry, these
    services can range from call centers (phone support) to ticket<br><br>Based helpdesks and email support, 
    from self-serve knowledge bases to increasingly personal types of customer support using tools such as
    Intercom.Some companies interchangeably use terms such as customer service or even <br>customer success, 
    but while some insist on subtle nuanced differences between those fields, the larger principles<br> should remain
     the same – making sure your customers get the best value possible from your product.</p>
 </div><br>
 <div class="p-3  bg-dark text-white">
 <div class="container text-center">
            <hr class="conhr text-center">
            <div class="p-3 mb-2 bg-dark text-white"><h2><i>Thank you for Visiting!</i></h2></div>
            <hr class="conhr">
            
            <div class="madewithlove text-center">
                <p>Designed with <img src="./static/la.png"></i> by <strong>Anupam Kumar Krishnan</strong></a></p>
            </div>
        </div>
</div>

{% endblock body %}
