{% extends 'base.html' %}
{% block title %}Contact |
{% endblock title %}

{% block body %}
<div class="container-fluid px-0">
   <img src="./static/Contact Us.png" class="d-block w-100" alt="...">
</div>
<br>
<div class="container">


<div class="form py-3">
<form class="row g-3" method="POST">
{% csrf_token %}
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputAddress2" name="name" placeholder="Name">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4" name="email">

  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Mobile Number</label>
    <input type="text" class="form-control" id="inputAddress2" name="mob" placeholder="Mobile Number">
  </div>
  <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Tell Us Your Query</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" name="query" rows="3"></textarea>
</div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Agree
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
</div>
</div>
 <div class="p-3 bg-dark text-white">
 <div class="container text-center">
            <hr class="conhr text-center">
            <div class="p-3 mb-2 bg-dark text-white"><h2>Thank you for Visiting!</h2></div>
            <hr class="conhr">
            
            <div class="madewithlove text-center">
                <p>Designed with <img src="./static/la.png"></i> by <strong>Anupam Kumar Krishnan</strong></a></p>
            </div>
        </div>
</div>
{% endblock body %}
