{% extends 'base.html' %}

{% block title %}Home |
{% endblock title %}

{% block body %}
<div class="container-fluid px-0"> 
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" >
  <ol class="carousel-indicators">
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
    <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./static/12.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block my-5">
        <h1><i>Welcome To <b>Ice cream World</b></i></h1>
        <h3><i>Celebrate every moment with Ice Cream</i></h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./static/12.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block my-5">
        <h1><i>Different flavours, different days</i></h1>
        <h3><i>Lots of varities</i></h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./static/12.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block my-5">
        <h3><i>Fall in Love With</i></h3>
        <h1><i>Ice Cream</i></h1>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
</div>


<div class="container my-4">
    <h1 class="my-2 text-center"> Select from Our Range of Ice Creams</h1><br>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
           <img src="./static/i1.png" class="img-thumbnail" class="d-block w-100" alt="...">  
              <div class="card-body">
              <p class="card-text">Vanilla card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">-</button>
                  <button type="button" class="btn btn-outline-dark">1</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">+</button>
                </div>
                <button type="button" class="btn btn-warning">Add To Cart</button>
               {#<small class="text-muted">9 mins</small>#}
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="./static/i2.png" class="img-thumbnail" class="d-block w-100" alt="...">  

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <button type="button" class="btn btn-sm btn-outline-dark">-</button>
                  <button type="button" class="btn btn-outline-dark">1</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">+</button>
                </div>
                <button type="button" class="btn btn-warning">Add To Cart</button>
                {#<small class="text-muted">9 mins</small>#}
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/i3.png" class="img-thumbnail" class="d-block w-100" alt="...">  


            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <button type="button" class="btn btn-sm btn-outline-dark">-</button>
                  <button type="button" class="btn btn-outline-dark">1</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">+</button>
                </div>
                <button type="button" class="btn btn-warning">Add To Cart</button>
                {#<small class="text-muted">9 mins</small>#}
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/i4.png" class="img-thumbnail" class="d-block w-100" alt="...">  


            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <button type="button" class="btn btn-sm btn-outline-dark">-</button>
                  <button type="button" class="btn btn-outline-dark">1</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">+</button>
                </div>
                <button type="button" class="btn btn-warning">Add To Cart</button>
                {#<small class="text-muted">9 mins</small>#}
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="./static/i5.png" class="img-thumbnail" class="d-block w-100" alt="...">  

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">-</button>
                  <button type="button" class="btn btn-outline-dark">1</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">+</button>
                </div>
                <button type="button" class="btn btn-warning">Add To Cart</button>
                {#<small class="text-muted">9 mins</small>#}
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/i6.png" class="img-thumbnail" class="d-block w-100" alt="...">  


            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <button type="button" class="btn btn-sm btn-outline-dark">-</button>
                  <button type="button" class="btn btn-outline-dark">1</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">+</button>
                </div>
                <button type="button" class="btn btn-warning">Add To Cart</button>
                {#<small class="text-muted">9 mins</small>#}
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/i7.png" class="img-thumbnail" class="d-block w-100" alt="...">  


            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
               <button type="button" class="btn btn-sm btn-outline-dark">-</button>
                  <button type="button" class="btn btn-outline-dark">1</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">+</button>
                </div>
                <button type="button" class="btn btn-warning">Add To Cart</button>
                {#<small class="text-muted">9 mins</small>#}
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/i8.png" class="img-thumbnail" class="d-block w-100" alt="...">  


            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
               <button type="button" class="btn btn-sm btn-outline-dark">-</button>
                  <button type="button" class="btn btn-outline-dark">1</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">+</button>
                </div>
                <button type="button" class="btn btn-warning">Add To Cart</button>
                 {#<small class="text-muted">9 mins</small>#}
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/i9.png" class="img-thumbnail" class="d-block w-100" alt="...">  


            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
               <button type="button" class="btn btn-sm btn-outline-dark">-</button>
                  <button type="button" class="btn btn-outline-dark">1</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">+</button>
                </div>
                <button type="button" class="btn btn-warning">Add To Cart</button>
                {#<small class="text-muted">9 mins</small>#}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

 <div class="p-3 bg-dark text-white">
 <div class="container text-center">
            <hr class="conhr text-center">
            <div class="p-3 mb-2 bg-dark text-white"><h2><i>Thank you for Visiting!</i></h2></div>
            <hr class="conhr">
            
            <div class="madewithlove text-center">
                <p>Designed with <img src="./static/la.png"></i> by <strong>Anupam Kumar Krishnan</strong></a></p>
            </div>
        </div>
</div>
{% endblock body %}

