{% extends 'base.html' %}
{% block title %}Services |
{% endblock title %}

{% block body %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./static/Softy.png" class="d-block w-100" alt="...">
    </div>
</div>
<br><br>
<div class="text-center">
<h1><i>Variety of Flavours</i></h1><br>
<br> <h1><span class="badge bg-warning text-center"><i>Softy</i></span></h1>
</div>
<br>
<br>
   <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <div class="col">
          <div class="card shadow-sm">
           <img src="./static/i1.png" class="img-thumbnail" class="d-block w-100" alt="...">  
              <div class="card-body">
              <p class="card-text">Vanilla card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">-</button>
                  <button type="button" class="btn btn-outline-dark">1</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">+</button>
                </div>
                <button type="button" class="btn btn-warning">Add To Cart</button>
               {#<small class="text-muted">9 mins</small>#}
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
           <img src="./static/333.png" class="img-thumbnail" class="d-block w-100" alt="...">  
              <div class="card-body">
              <p class="card-text">Vanilla card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">-</button>
                  <button type="button" class="btn btn-outline-dark">1</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">+</button>
                </div>
                <button type="button" class="btn btn-warning">Add To Cart</button>
               {#<small class="text-muted">9 mins</small>#}
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="./static/i2.png" class="img-thumbnail" class="d-block w-100" alt="...">  

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <button type="button" class="btn btn-sm btn-outline-dark">-</button>
                  <button type="button" class="btn btn-outline-dark">1</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">+</button>
                </div>
                <button type="button" class="btn btn-warning">Add To Cart</button>
                {#<small class="text-muted">9 mins</small>#}
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/i3.png" class="img-thumbnail" class="d-block w-100" alt="...">  


            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <button type="button" class="btn btn-sm btn-outline-dark">-</button>
                  <button type="button" class="btn btn-outline-dark">1</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">+</button>
                </div>
                <button type="button" class="btn btn-warning">Add To Cart</button>
                {#<small class="text-muted">9 mins</small>#}
              </div>
            </div>
          </div>
        </div>


        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/i4.png" class="img-thumbnail" class="d-block w-100" alt="...">  


            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                   <button type="button" class="btn btn-sm btn-outline-dark">-</button>
                  <button type="button" class="btn btn-outline-dark">1</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">+</button>
                </div>
                <button type="button" class="btn btn-warning">Add To Cart</button>
                {#<small class="text-muted">9 mins</small>#}
              </div>
            </div>
          </div>
        </div>
         <div class="col">
          <div class="card shadow-sm">
           <img src="./static/66.png" class="img-thumbnail" class="d-block w-100" alt="...">  
              <div class="card-body">
              <p class="card-text">Vanilla card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">-</button>
                  <button type="button" class="btn btn-outline-dark">1</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">+</button>
                </div>
                <button type="button" class="btn btn-warning">Add To Cart</button>
               {#<small class="text-muted">9 mins</small>#}
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="./static/i5.png" class="img-thumbnail" class="d-block w-100" alt="...">  

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">-</button>
                  <button type="button" class="btn btn-outline-dark">1</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">+</button>
                </div>
                <button type="button" class="btn btn-warning">Add To Cart</button>
                {#<small class="text-muted">9 mins</small>#}
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/i6.png" class="img-thumbnail" class="d-block w-100" alt="...">  


            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <button type="button" class="btn btn-sm btn-outline-dark">-</button>
                  <button type="button" class="btn btn-outline-dark">1</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">+</button>
                </div>
                <button type="button" class="btn btn-warning">Add To Cart</button>
                {#<small class="text-muted">9 mins</small>#}
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/i7.png" class="img-thumbnail" class="d-block w-100" alt="...">  


            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
               <button type="button" class="btn btn-sm btn-outline-dark">-</button>
                  <button type="button" class="btn btn-outline-dark">1</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">+</button>
                </div>
                <button type="button" class="btn btn-warning">Add To Cart</button>
                {#<small class="text-muted">9 mins</small>#}
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="./static/11.png" class="img-thumbnail" class="d-block w-100" alt="...">  

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-dark">-</button>
                  <button type="button" class="btn btn-outline-dark">1</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">+</button>
                </div>
                <button type="button" class="btn btn-warning">Add To Cart</button>
                {#<small class="text-muted">9 mins</small>#}
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/i8.png" class="img-thumbnail" class="d-block w-100" alt="...">  


            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
               <button type="button" class="btn btn-sm btn-outline-dark">-</button>
                  <button type="button" class="btn btn-outline-dark">1</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">+</button>
                </div>
                <button type="button" class="btn btn-warning">Add To Cart</button>
                 {#<small class="text-muted">9 mins</small>#}
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./static/i9.png" class="img-thumbnail" class="d-block w-100" alt="...">  


            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
               <button type="button" class="btn btn-sm btn-outline-dark">-</button>
                  <button type="button" class="btn btn-outline-dark">1</button>
                  <button type="button" class="btn btn-sm btn-outline-dark">+</button>
                </div>
                <button type="button" class="btn btn-warning">Add To Cart</button>
                {#<small class="text-muted">9 mins</small>#}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br><br>
<div class="p-3 bg-dark text-white">
 <div class="container text-center">
            <hr class="conhr text-center">
            <div class="p-3 mb-2 bg-dark text-white"><h2><i>Thank you for Visiting!</i></h2></div>
            <hr class="conhr">
            
            <div class="madewithlove text-center">
                <p>Designed with <img src="./static/la.png"></i> by <strong>Anupam Kumar Krishnan</strong></a></p>
            </div>
        </div>
</div>
{% endblock body %}
